@import 'config';

body{
    margin:0rem;
    padding: 0rem;
    width: 100%;
}

nav{
    height: 3rem;
    width: 100%;
    background-color: $main-color;
    position: absolute;
    color: white;

    .nav_logo{
        margin: .6rem 1.5rem;   
    }
}



main{
    position: relative;
    top: 3rem;
    padding: 3rem 0rem;

    label{
        font-size: 20px;
    }

    .select-curr{
        margin: auto;
        width: fit-content;
        display: flex;

        select{
            width: 8rem;
            margin-left: 1rem ;
            padding: .3rem;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
        }
        
    }

    .grid{
        margin-top: 1.5rem;
        display: grid;
        gap : 1rem;
        grid-template-columns: auto auto auto;

        .groups{
            text-align: center;
            color: $main-color;

            h2{
                font-size: 30px;
            }

            .group-sub-head{
                color: rgb(211, 189, 142);
                position: relative;
                bottom: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .loading{
        width: 100%;
        text-align: center;
    }

    .sub-task{
        width: 100%;
        display: flex;
        justify-content: center;

        h3{
            color: $main-color ;
        }

        p{
            margin: 1.4rem 0rem 0rem 1rem ;
        }
    }
}

@media (max-width: 520px) {
    .grid{
        grid-template-columns:auto !important;
    }
}





